* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
}

.header {
  height: 80px; 
  background-color: #003C71;
  border-bottom: 1px solid #eee;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 70px;
}

/* --------------------------- Logo --------------------------- */

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  height: 65px;
  width: auto;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.logo:hover img {
  transform: scale(1.05);
}

/* --------------------------- NAV --------------------------- */

.main-nav ul {
  display: flex;
  list-style: none;
  gap: 70px;
}

.main-nav a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  font-weight: 500;
}

.main-nav a:hover {
  color: #0071c2;
}

/* --------------------------- Login --------------------------- */

.login{
  margin-left: 100px;
  display: flex;
  gap: 50px;
}

.login a {
  text-decoration: none;
  font-size: 15px;
  color: white;
  font-weight: 500;
}

.login a:hover {
  color: #0071c2;
}

.login-btn {
  text-decoration: none;
  font-size: 14px;
  color: #0071c2;
  font-weight: 500;
}
