body {
    background-color: #ECF0F5;
}

.sidebar {
    background-color: #115837;
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar a {
    color: white;
    padding: 18px 25px;
    width: 100%;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.sidebar a:hover {
    background-color: #1a8855;
}

/* ROW STYLE */
.row-odd {
    background-color: #3eac79;
}

.row-even {
    background-color: #297652;
}

.sidebar a:last-child {
    margin-top: auto;
}

.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-title {
    font-weight: bold;
    font-size: 24px;
}

.content-box-chiTiet{
    background-color: white;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}
.content-box-chiTiet img {
    object-fit: cover;
    max-height: 250px;
    width: 100%;
}
.title-box-chiTiet{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

